/* ----- jumbotron -----*/
.jumbotron {
    background-color: white;
    width: 86%;
    padding-top: 40px;
    padding-left: 100px;
}
@media screen and (max-width:500px) {
    .jumbotron {
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
    }
}
.jumbotron h1 {
    text-align: center;
}
.jumbotron p {
    color: #69727b;
}
.jumbotron h2, .jumbotron h3 {
    font-size: 17px;
    color: #69727b;
}

/* ----- kontakt hemsida ----- */
.kontaktFormularContainer {
    width: 90%;
    height: auto;
    margin: auto;
}
.kontaktFormularContainer input[type=text], .kontaktFormularContainer select, .kontaktFormularContainer textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}
.kontaktFormularContainer input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.kontaktFormularContainer input[type=submit]:hover {
    background-image: linear-gradient( yellow, lime);
}
#subject {
    height: 200px;
}