/* -------------------------------- Product Styling -------------------------------- */

/* --- container --- */
.product_container{
    width: auto;
    height: auto;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;

    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-auto-rows: auto;
}

/* ---  products div ---- */
.product_div{
    width: unset;
    height: 350px;

    /*background-color: yellow;
    border: 2px solid orangered;*/
}

.product_images{
    width: 350px;
    height: 250px;
}
.product_div p{
    display: inline;
    font-weight: 1000;
}

@media screen and (max-width:1060px) {
    .product_container{
        grid-template-columns: 300px 300px 300px;
    }
    .product_div{
        height: 300px;
    }
    .product_images{
        width: 300px;
        height: 220px;
    }
}

@media screen and (max-width:900px) {
    .product_container{
        grid-template-columns: 350px 350px;
    }
    .product_div{
        height: 350px;
    }
    .product_images{
        width: 350px;
        height: 250px;
    }
}
@media screen and (max-width:750px) {
    .product_container{
        grid-template-columns: 350px;
    }
}

@media screen and (max-width:370px) {
    .product_container{
        grid-template-columns: 300px;
    }
    .product_div{
        height: 300px;
    }
    .product_images{
        width: 300px;
        height: 220px;
    }
}